<!-- Marketing Icons Section -->
<div class="row">
	<div class="col-md-12">
		<h1>Plan B</h1>
		<hr />
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Ruby on Rails Guides</h4>
			</div>
			<div class="panel-body">
				<p>레일스 공식 레퍼런스와 소개 문서
				</p>
				<a href="http://guides.rorlab.org" class="btn btn-default" target="blank">번역 링크</a>
			</div>
			<div class="panel-author">
					<img style="vertical-align:middle;width:18px" src="http://rorlab.org/assets/rorlab_logo_158x158-d684a94ffaa3a320ed2cf7a04504b91658f9aea6ae51489c390e25b4f0d9f149.png"/>
					<span>RORLAB</span>
					<a href="http://rorlab.org" target="_blank">Home</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> RUBY ON RAILS TUTORIAL <small>Michael Hartl</small></h4>
			</div>
			<div class="panel-body">
				<p>레일스로 웹 개발 배우기</p>
				<a href="http://tutorial.rorlab.org" class="btn btn-default" target="blank">번역 링크</a>
			</div>
			<div class="panel-author">
					<img style="vertical-align:middle;width:18px" src="http://rorlab.org/assets/rorlab_logo_158x158-d684a94ffaa3a320ed2cf7a04504b91658f9aea6ae51489c390e25b4f0d9f149.png"/>
					<span>RORLAB</span>
					<a href="http://rorlab.org" target="_blank">Home</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Ruby
						<small>A PROGRAMMER'S BEST FRIEND</small></h4>
			</div>
			<div class="panel-body">
				<p>루비 프로그래밍 언어 한국어 문서</p>
				<a href="https://www.ruby-lang.org/ko/" class="btn btn-default" target="blank">번역 링크</a>
			</div>
			<div class="panel-author">
					<!-- <img style="vertical-align:middle;width:18px" src="http://rorlab.org/assets/rorlab_logo_158x158-d684a94ffaa3a320ed2cf7a04504b91658f9aea6ae51489c390e25b4f0d9f149.png"/> -->
					<span>루비 사용자 포럼(RubyKR)</span>
					<a href="http://www.facebook.com/groups/rubykr" target="_blank">Home</a>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->
