<div class="container">
	<a href="/projects/new"><button class="btn btn-default">프로젝트 작성</button></a>
	<hr>

	<div class="row">
		<% @lists.each do |l| %>
			<div class="col-xs-6 col-md-4">
				<div class="thumbnail">
	  			<h3><%= l.title %></h3>
	  			<%= l.content %>
	  		</div>
	  	</div>
		<% end %>
	</div>
</div>