<div class="row">
	<div class="col-md-12">
		<h1>Plan B</h1>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h1>New project</h1>
	</div>
</div>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
