<!-- Footer -->
  <div id="footer-wrapper">
    <footer id="footer" class="container">
      <div class="row">
        <div class="3u 6u(medium) 12u$(small)">

          <!-- Links -->
            <section class="widget links">
              <h3>이용약관</h3>
              <ul class="style2">
                <li><a href="#">서비스의 이용</a></li>
                <li><a href="#">게시물의 저작권</a></li>
                <li><a href="#">권리의 귀속</a></li>
                <li><a href="#">책임제한</a></li>
              </ul>
            </section>

        </div>
        <div class="3u 6u$(medium) 12u$(small)">

          <!-- Links -->
            <section class="widget links">
              <h3>광고/제휴문의</h3>
              <ul class="style2">
                <li><a href="#">서비스 제휴</a></li>
                <li><a href="#">마케팅 제휴</a></li>
                <li><a href="#">공익사업 제안</a></li>
                <li><a href="#">기타사업 제안</a></li>
              </ul>
            </section>

        </div>
        <div class="3u 6u(medium) 12u$(small)">

          <!-- Links -->
            <section class="widget links">
              <h3>고객센터</h3>
              <ul class="style2">
                <li><a href="#">고객센터 이용안내</a></li>
                <li><a href="#">아이디/비밀번호 찾기</a></li>
                <li><a href="#">웹접근성 신고센터</a></li>
                <li><a href="#">1:1 문의</a></li>

              </ul>
            </section>

        </div>
        <div class="3u 6u$(medium) 12u$(small)">

          <!-- Contact -->
            <section class="widget contact last">
              <h3>Contact Us</h3>
              <ul>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
              </ul>
              <p>459, Gangnam-daero<br />
              Seocho-gu, Seoul<br />
              (02) 591-0116</p>
            </section>

        </div>
      </div>
      <div class="row">
        <div class="12u">
          <div id="copyright">
            <ul class="menu">
              <li>&copy; TranCo. All rights reserved</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
